h1{
  color: white;
  font-size: 20px;
  text-align: center;
}

 #IS{
  font-size: 30px;
  color:black;
}
body{
  background-color: white;
}

table{
  width: 100%;
}

th{
  text-align: center;
  padding: 8px;
}

td{
  text-align:center;
  background-color:skyblue;
}

td:nth-child(odd){
  background-color:white;
  color:black;
}

p{
  color:black;
}
th{
  background-color: lime;
  color:black;
}

.show{
  display:inline !important;
}
.hidden{
  display:none;
}

button{
  border: 2px solid black; background: #E5E4E2;
  font-size: 1em; font-weight: bold; color: black;
  padding: 1.1em 1.1em;
  margin-top:.4em;
}
