h1{
  color: black;
  font-size: 20px;
  text-align: center;
}
div{
  display:inline-block;
  width: 100%;
}

header{
  position:fixed;
  left:0px;
  height:5%;
  width:100%;
  color:black;
  top:0;
  background-color:#3B3A35;
  border: 5px;
  border-color:black;
}

.SideNav{
  left:0;
  background-color: white;
  margin-top:2%;
  border: 5px solid #20457C;
  height:100%;
  position:fixed;
}


#home{
  color:black;
}
/*
  #ECDFBD cream
  #20457C blue
  #3B3A35 shadow gray
  #FB6648 orange
  #5E3448 maroon
*/
article{
  margin-top:2.1%;
  text-align:left;
  border-left:2px solid gray;
  border-color:black;
  background-color: #ECDFBD;
  margin-left: 10.7%;
  height:1000px;
  width:89.6%;
}

nav{
  text-align:center;
  color:white;
  background-color:#20457C;
  width:10.5%;
}
#Bigger{
  font-size: 25px;
  color: green;
}

 #IS{
  font-size: 20px;
  color:black;
}

body{
  background-color: white;
}

table{
  width: 100%;
}

th{
  text-align: center;
  padding: 8px;
}

td{
  text-align:center;
  background-color:skyblue;
}

td:nth-child(odd){
  background-color:white;
  color:black;
}

p{
  color:black;
}
th{
  background-color: lime;
  color:black;
}

.show{
  display:inline !important;
}
.hidden{
  display:none;
}

button{
  border: 2px solid black;
  background-color: #E5E4E2;
  font-weight: bold;
  color: black;
  margin-top:.5%;
  padding:.5em;
}
